@media (max-width: $tablet) {
  .upload {
    width: 720px;
    padding-bottom: 200px;

    &__container {
      flex-direction: column;
    }

    &__left--image {
      margin-bottom: 40px;
    }

    &__right {
      width: 720px;
    }
  }
}

@media (max-width: $mobile) {
  .upload {
    width: 288px;
    margin-left: 25px;
    padding-bottom: 100px;

    &__left--image {
      width: 288px;
      height: 153px;
      margin-bottom: 32px;
    }

    &__right {
      width: 275px;
    }

    &__form {

      &--line {
        display: none;
      }

      &--publish {
        margin-top: 32px;
        width: 100%;
      }

      &--cancel {
        width: 100%;
      }
    }
  }

}